[Unit]
Description=Run fledge gui
After=network.target

[Service]
Type=forking
RemainAfterExit=no
ExecStart=/usr/sbin/nginx -c /etc/fledge/nginx.conf -p /etc/fledge/gui
TimeoutStartSec=0

[Install]
WantedBy=default.target