[Unit]
Description=Run fledge
After=network.target

[Service]
Type=forking
RemainAfterExit=no
ExecStart=/usr/local/fledge/bin/fledge start
ExecStop=/usr/local/fledge/bin/fledge kill
TimeoutStartSec=0
Environment="FLEDGE_DATA=/etc/fledge/data"

[Install]
WantedBy=default.target